{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if app.user %}
            <div class="menu" style="margin: 30px 0 30px 120px;">
                <a href="{{ path('create_resource') }}" class="btn btn-success">Publier</a>
                <button class="btn btn-primary"><i class="fas fa-image"></i></button>
                <button class="btn btn-primary"><i class="fas fa-link"></i></button>
            </div>
        {% else %}
            <div class="disabled" style="margin-top: 80px"></div>
        {% endif %}
        {% for resource in resources %}
            {% if resource.deletedAt == null %}
                <div class="row" style="margin-left: 150px">
                    <div class="col-md-6">
                        <div class="article">
                            <div class="entete d-flex justify-content-between">
                                <h2>{{ resource.title }}</h2>
                            </div>
                            <div class="article-content">
                                {% set words = resource.content | split(' ') %}
                                {{ words | slice(0, 100) | join(' ') }}{% if words|length > 100 %} ...{% endif %}
                            </div>
                            {% if app.user %}
                                <div class="buttons d-flex justify-content-end">
                                    <button class="like-button btn btn-primary"><i class="fas fa-thumbs-up"></i>
                                    </button>
                                    <button class="dislike-button btn btn-danger"><i class="fas fa-thumbs-down"></i>
                                    </button>
                                    <button class="favorite-button btn btn-warning"><i class="fas fa-star"></i></button>
                                </div>
                            {% endif %}
                            <div class="consulter"
                                 style="display: flex; justify-content: space-between; align-items: center;">
                                <a href="{{ path('resource_page', {'id': resource.id}) }}"
                                   class="view-more-button btn btn-success">Voir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
