.article {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 300px;
}

.buttons {
    margin-top: 10px;
    text-align: right;
}

.like-button,
.dislike-button,
.favorite-button,
.view-more-button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.like-button {
    background-color: blue;
}

.dislike-button {
    background-color: red;
}

.favorite-button {
    background-color: yellow;
}

.view-more-button {
    background-color: green;
}

.like-button:hover,
.dislike-button:hover,
.favorite-button:hover,
.view-more-button:hover {
    opacity: 0.8;
}

.menu button {
    margin-right: 5px;
}
.container .menu {
    margin-left: 200px;
    margin-bottom: 20px;
}