
.article {
    width: 100%; /* Adjusted width to take full width of the column */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Added margin-bottom */
    margin-left: 300px;
}

.buttons {
    margin-top: 10px;
    text-align: right;
}

.like-button,
.dislike-button,
.favorite-button,
.view-more-button {
    padding: 5px 10px; /* Reduce the padding for smaller buttons */
    cursor: pointer; /* Change cursor to pointer for clickable buttons */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border-radius for rounded corners */
}

.like-button {
    background-color: blue; /* Set background color for like button */
}

.dislike-button {
    background-color: red; /* Set background color for dislike button */
}

.favorite-button {
    background-color: yellow; /* Set background color for favorite button */
}

.view-more-button {
    background-color: green; /* Set background color for view more button */
}

.like-button:hover,
.dislike-button:hover,
.favorite-button:hover,
.view-more-button:hover {
    opacity: 0.8; /* Reduce opacity on hover for visual feedback */
}