{% extends 'base.html.twig' %}
{% block title %}Hello ResourcesController!{% endblock %}
{% block body %}
    {% for resource in resources %}

        <h1>Hello {{ resource.title }}</h1>
    {% endfor %}

{% endblock %}
